<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.overboxsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--we can activate the login later-->


        <!--<activity-->
            <!--android:name=".login"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--android:screenOrientation="portrait">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        <!--</activity>-->

        <!-- change the intent filter  from launcher to login-->

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".option_imei"
            android:label="IMEI"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity android:name=".imei_check"
            android:label="IMEI"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>




        <activity android:name=".Display_form"
            android:label="IMEI"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".fetch_category"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">>
        </activity>


    </application>

</manifest>
